{% extends 'base.html' %}

{% block head_title %}
    {% if title %}
    {{ title }} /
    {% endif %}
    {{ block.super }}
{% endblock %}




{% block content %}

{% if title %}
    <h1>{{ title }}</h1>
{% endif %}


{% for instance in object_list %}
<div>
    <h3>{{ instance.title }} </h3>
    <p>{{ instance.description }}</p>
    {% if instance.is_movie %}
        {% include 'playlists/cards/movie.html' with movie=instance %}
    {% elif instance.is_show %}
        {% include 'playlists/cards/show.html' with show=instance %}
    {% else %}
    {% endif %}

</div>
{% endfor %}


{% endblock %}